# Manifest.in file for isbg
include CHANGELOG CONTRIBUTORS LICENSE README.rst requirements.txt tox.ini

graft examples
graft bash_scripts
graft docs
recursive-include tests/ *.py
recursive-include . *.rst
recursive-include . Makefile
prune build.sphinx/
prune .tox/
